<html lang="en">
<head>
    <title>Python brief</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='favicon-32x32.png') }}">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/script.js') }}"></script>
</head>
<body>
<header>
    <svg viewBox="0 0 83.7 175.6" width="32">
        <path d="M83.7,88.7H64.6l-4.9-11.4H24l-4.9,11.4H0L39,0h5.8L83.7,88.7z M30.2,62.7h23.1L41.9,33.3L30.2,62.7z"/>
        <path d="M65.8,122.1c0.2,2.6,0,5.1-0.6,7.4c-0.1,0.6-0.3,1.1-0.4,1.6c0,0.1-0.1,0.3-0.1,0.4l-0.3,0.9L58.6,149
            c-0.2,0.5-1,0.5-1.1,0l-1.9-5.4l-0.4-1.2c-0.6-1.8-3.2-1.7-3.7,0.1l-1,3.8l-7.9,28.8c-0.2,0.6-1,0.6-1.2,0l-7.9-28.8l-1-3.8
            c-0.5-1.8-3.1-1.9-3.7-0.1l-0.4,1.2l-1.9,5.4c-0.2,0.5-1,0.5-1.1,0l-5.8-16.8c-0.1-0.2-0.2-0.5-0.2-0.7c-0.1-0.3-0.2-0.6-0.3-0.9
            c-0.1-0.4-0.2-0.8-0.3-1.2c-0.4-1.8-0.6-3.6-0.6-5.5c0-13.7,11.5-24.7,25.4-23.9C55.2,100.8,64.9,110.3,65.8,122.1"/>
    </svg>
    <button onclick="toggleDarkMode()">
        <svg width="48" height="48">
            <path d="M24 42q-7.5 0-12.75-5.25T6 24q0-7.5 5.25-12.75T24 6q.4 0 .85.025.45.025 1.15.075-1.8 1.6-2.8 3.95-1
                2.35-1 4.95 0 4.5 3.15 7.65Q28.5 25.8 33 25.8q2.6 0 4.95-.925T41.9 22.3q.05.6.075.975Q42 23.65 42 24q0
                7.5-5.25 12.75T24 42Zm0-3q5.45 0 9.5-3.375t5.05-7.925q-1.25.55-2.675.825Q34.45 28.8 33 28.8q-5.75
                0-9.775-4.025T19.2 15q0-1.2.25-2.575.25-1.375.9-3.125-4.9 1.35-8.125 5.475Q9 18.9 9 24q0 6.25 4.375
                10.625T24 39Zm-.2-14.85Z"/>
        </svg>
    </button>
</header>
{{ brief_content | safe }}
</body>
</html>
